.UIBackTopTopControl {
    background: rgba(0, 0, 0, 0) url("images/nan.png") no-repeat scroll center center;
    bottom: 5px;
    height: 50px;
    position: fixed;
    right: 70px;
    width: 50px;
    z-index: 10;
}
