.jMask {
    background-color: #000000;
    width: 100%;
    z-index: 2000;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    opacity: 0.4;
}

.jContainer {
    background-color: gray;
    padding: 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    z-index: 2001;
    opacity: 1.0 !important;
    -moz-box-shadow: 2px 2px 2px #000000;
    -webkit-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}

    .jContainer .jBox {
        background-color: #ffffff;
        padding: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .jContainer .jTitle {
        height: 32px;
        font: bold 13px/32px Arial;
        margin-left: 10px;
        color: #369;
    }

        .jContainer .jTitle .jClose {
            margin-right: 5px;
            background: url(/Images/closebutton.png) no-repeat 0px top;
            height: 18px;
            width: 18px;
            float: right;
            margin-top: 5px;
        }

    .jContainer .jBox .jFrame {
        border: solid 1px #e4e4e4;
        padding: 10px;
        border-radius: 3px;
    }
